@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


*{
    padding: 0;
    margin: 0;
    /* border: 2px solid red; */
}

body {
    width: 100vw;
    height: 100vh;;
}

.section-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    align-items: center;
    background: #dffcfc;
}

.section-center h3 {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-family: "Roboto", sans-serif;
}

.section-center form {
    /* background: #1c63e7; */
    padding: 1rem;
    width: 30%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.section-center form label {
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #4c8b6e; */
    font-size: 1.2rem;
    font-weight: 600;
}

.section-center form input {
    width: 5rem;
    border-radius: 0.3rem;
    border: none;
    text-align: center;
    height: 2rem;
    margin: 0 0.5rem;
    font-size: 1.3rem;
}

.section-center form button {
    text-transform: uppercase;
    height: 2rem;
    padding: 0.2rem 1rem;
    margin: 0 0.2rem;
    background: #ec5555;
    color: #000;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.section-center article {
    background: rgba(255, 251, 10, 0.3);
    letter-spacing: 0.05rem;
    text-align: justify;
    width: 60%;
}

.section-center article .result {
    font-weight: 300;
    font-size: 1.2rem;
    padding: 1rem 2rem 0.5rem 2rem;
} 